.input {
  max-width: 400px;
  width: 100%;
  text-align: center;
  margin-top: 90px;
  border: 1px solid #000;
  border-radius: 5px;
  font-size: 30px;
  height: 50px;
  font-family: inherit;
  &:focus {
    border: 2px solid #1c84ad;
    outline: 0;
  }
  &::placeholder {
    opacity: 0.8;
  }
}
