.main-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 17px 17px;

  h3 {
    font-size: 20px;
    margin-bottom: 7px;
  }

  h4 {
    margin-bottom: 20px;
    margin-top: -5px;
  }

  p {
    font-size: 16px;
    font-style: italic;
  }
}
