.weather-wrapper {
  max-width: 400px;
  width: 100%;
  border: 1px solid #000;
  border-radius: 15px;
  background-color: #ffd678;
  margin-top: 30px;
  &:hover {
    background-color: #ffecd0;
  }
}
