.main-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 17px 17px;
  border: 1px solid #000;
  border-radius: 5px;
  margin: 20px 20px;
  max-width: 337px;
  width: 100%;
  background-color: #79dae8;

  &:hover {
    background-color: #e8f9fd;
    cursor: pointer;
  }

  h3 {
    font-size: 20px;
    margin-bottom: 3px;
  }

  h4 {
    margin-bottom: 20px;
    margin-top: -5px;
  }

  p {
    font-size: 16px;
    font-style: italic;
  }
  .wind {
    margin-bottom: 15px;
  }
}
