.main-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 17px 17px;
  border: 1px solid #000;
  border-radius: 5px;
  margin: 20px 20px;
  background-color: rgb(105 154 208);

  h3 {
    font-size: 20px;
    margin-bottom: 7px;
  }

  h4 {
    margin-bottom: 20px;
    margin-top: -5px;
  }

  p {
    font-size: 16px;
    font-style: italic;
  }
}
