@import './normalize';
@import './components/input.scss';
@import './components/weather.scss';
@import './components/weatherDisplay.scss';

.App {
  background-repeat: no-repeat;
  background-color: #e8f9fd;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}
